################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternsTraining/AbstractFactory/obj
/DesignPatternsTraining/.vs/DesignPatternsTraining/v16
/.vs/DesignPatternsTraining/v16
/.vs
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
*.user
/DesignPatternsTraining/.vs/DesignPatternsTraining/DesignTimeBuild
